@font-face {
  font-family: 'azo_sansblack';
  src: url('../fonts/azo/azosans-black-webfont.woff2') format('woff2'),
  url('../fonts/azo/azosans-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'azo_sansbold';
  src: url('../fonts/azo/_azosans-bold-webfont.woff2') format('woff2'),
  url('../fonts/azo/_azosans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'azo_sansmedium';
  src: url('../fonts/azo/azosans-medium-webfont.woff2') format('woff2'),
  url('../fonts/azo/azosans-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'azo_sansregular';
  src: url('../fonts/azo/azosans-regular-webfont.woff2') format('woff2'),
  url('../fonts/azo/azosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}