
$main-font: azo_sansregular;


$white: rgb(255, 255, 255);
$accent: rgb(253, 155, 28);

$body-bg: $white;

$gradient: linear-gradient(-34deg, #ff802b 20%, #fb9a21 75%, #faa21d 100%);
$gradient_1: linear-gradient(-34deg, #ff802b 47%, #fb9a21 52%, #faa21d 54%);
