@import "partials/variables";
//@import "partials/reset";
@import "../../node_modules/materialize-css/sass/materialize";
@import "partials/fonts";

//.container {
//  max-width: 1400px;
//  padding-left: 15px;
//  padding-right: 15px;
//}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $body-bg;
  font-family: $main-font, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.main-nav {
  &__link {
    color: #666;
    display: flex;
    align-items: center;
  }
}

.brand-logo {
  margin-top: 10px;

  &__img {
    width: 60px;
    height: 40px;
  }
}

p {
  line-height: 2rem;
}

.mb-2 {
  margin-bottom: 2em;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.footer-contact {
  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    color: $white;

    svg {
      flex-shrink: 0;
      min-width: 30px;
      margin-right: 1em;
    }
  }
}
